
{% load static %}
<h1>Login</h1>
<form method="POST" action="{% url 'login' %}">
  {% csrf_token %}
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>
  <br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  <br>
  <button type="submit">Login</button>
</form>
<div id="app"></div>
<script src="{% static 'runtime.js' %}"></script>
<script src="{% static 'polyfills.js' %}"></script>
<script src="{% static 'styles.js' %}"></script>
<script src="{% static 'vendor.js' %}"></script>
<script src="{% static 'main.js' %}"></script>
